version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: market_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 987654321
      POSTGRES_DB: market_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

